.light {
    background-color: rgb(0, 0, 0);
color: black;
}
.dark {
    background-color: rgb(64, 224, 125);
color: white;
}
.new {
    border: 2px solid rgb(35, 238, 106);
box-shadow: 2px 2px 2px rgb(233, 36, 36);
}